<h2 align="center">Place Your Order</h2>
<div class="container">
  <form>
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form1Example1">Select Food:</label><br>
      <select name="" id="">
        <option value="food1">Select food</option>
        <option value="food1">food1</option>
        <option value="food2">food2</option>
        <option value="food4">food4</option>
        <option value="food5">food5</option>
      </select>
    </div>
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form1Example1">Name</label>
      <input type="text" id="form1Example1" class="form-control" />

    </div>
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form1Example2">Phone</label>
      <input type="text" id="form1Example2" class="form-control" />

    </div>
    <div data-mdb-input-init class="form-outline mb-4">
      <label class="form-label" for="form1Example2">Address</label>
      <input type="text" id="form1Example2" class="form-control" />

    </div>

    <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Order </button>
  </form>
</div>
<router-outlet></router-outlet>